__pycache__/
*.pyc

# Virtual environments
sar_venv/
feature_env/

# Data
data/
new_data/
ascat_data/
ascat_test/

# Outputs
outputs/
temp/

service-account.json

.streamlit/secrets.toml

# Secrets
.env
*.json

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db